[Desktop Entry]
Comment=
Exec=kitty /home/frey/.local/share/applications
Icon=kitty
Name=Applications
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
