[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=firefox --new-window 'ext+container:name=Personal&url=https://cshr.tal.net/vx/lang-en-GB/candidate/application'
GenericName[en_GB]=
GenericName=
Icon=/home/frey/system/icons/gov.png
MimeType=
Name[en_GB]=Civil Service Job Portal
Name=Civil Service Job Portal
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
