[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=firefox --new-window 'ext+container:name=Personal&url=https://career5.successfactors.eu/careers?company=hampshirecP'
GenericName[en_GB]=
GenericName=
Icon=/home/frey/system/icons/hampshire-county-council.png
MimeType=
Name[en_GB]=Hampshire County Council (HCC) Job Portal
Name=Hampshire County Council (HCC) Job Portal
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
