[Desktop Entry]
Comment=
Exec=kitty /home/frey/.config/home-manager
Icon=kitty
Name=Home Manager
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
