[Desktop Entry]
Comment=
GenericName=Kitty
Exec=kitty $HOST_CONFIG
Icon=kitty
Name=Host Configuration (NixOS)
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
