#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
GenericName=Dolphin
Exec=dolphin $JOB_PORTAL
Icon=org.kde.dolphin
Name=Job Portal
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
