[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=firefox --new-window 'ext+container:name=Personal&url=https://www.universal-credit.service.gov.uk/dashboard'
GenericName[en_GB]=
GenericName=
Icon=/home/frey/system/icons/DWP.png
MimeType=
Name[en_GB]=Universal Credit Portal (DWP)
Name=Universal Credit Portal (DWP)
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
